img{
    width: 100px;
    height: 100px;
}
.honerdBestContent{
    display: flex;
    
   
}
HonerdBest{
    margin-right: 10%;
    justify-content: space-around;
}
.divCon{
    margin-left: 20%;
    margin-right: 20%;
}
description{
    text-align: center;
}